@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.genre-card {
	@include size(width, 360);
	@include size(height, 307);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include size(padding, 10);
	@include size(padding-right, 50);
	color: $whiteColor;

	img {
		position: absolute;
		@include size(height, 240);
		bottom: 0;
		right: 0;
	}

	.name {
		text-transform: uppercase;
		font-weight: 900;
		@include size(font-size, 32);
		@include size(line-height, 46);
	}

	.description {
		font-weight: 700;
		@include size(font-size, 24);
		@include size(line-height, 35);
		z-index: 1;
	}
}