@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.header {
	position: sticky;
	top: 0;
	z-index: 10;
	transition: all 0.3s;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: calc(40/1440*100vw);
		height: calc(70/1440*100vw);
		color: $lightTextColor;
		font-weight: 700;
	}

	&.red {
		background-color: $mainRedTheme;

		.app-type {
			border-color: $whiteColor;

			button.active {
				color: $whiteColor;
				img {
					@include whiteColorIcon;
				}
			}
		}

		.link.active {
			color: $whiteColor;
			border-color: $whiteColor;
		}

		.user {
			.sign-in {
				color: $whiteColor;
			}
		}
	};

	&.white{
		background-color: $whiteColor;
		border-bottom: calc(1/1440*100vw) solid $borderLightColor;

		.app-type {
			border-color: $borderLightColor;

			button.active {
				color: $mainRedTheme;
				img {
					@include mainRedIcon;
				}
			}
		}

		.link.active {
			color: $mainRedTheme;
			border-color: $mainRedTheme;
		}

		.user {
			.sign-in {
				color: $mainRedTheme;
			}

			.profile .arrow {
				@include darkGreyIcon;
			}
		}

		.search-bar {
			.search-field {
				border: calc(2/1440*100vw) solid $borderLightColor;
			}

			.close-search {
				@include borderLightIcon;
			}
		}
	}
}