@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.header {
	.container {
		display: flex;
		align-items: center;
		column-gap: 40px;
		height: 70px;
		color: $lightTextColor;
		font-weight: 700;
	}

	.app-type {
		display: flex;
		align-items: center;
		column-gap: 40px;
		padding: 0 40px;
		border: 2px solid;
		border-bottom: none;
		border-top: none;

		button {
			background: none;
			border: none;
			display: flex;
			align-items: center;
			column-gap: 4px;
			font-family: 'Jost';
			font-size: 16px;
			line-height: 24px;
			color: $lightTextColor;
			font-weight: 600;

			img {
				@include lightGreyIcon;
			}
		}
	}

	&.red {
		background-color: $mainRedTheme;

		.app-type {
			border-color: $whiteColor;

			button.active {
				color: $whiteColor;
				img {
					@include wightColorIcon;
				}
			}
		}
	};

	&.white{
		background-color: $whiteColor;

		.app-type {
			border-color: $borderLightColor;
		}
	}
}