@import '../../../styles/constants.scss';
@import '../../../styles/mixins.scss';

.premier {
	height: calc(845/1440*100vw);
	width: 100%;
	margin-bottom: calc(60/1440*100vw);
	background-image: url('/../public/assets/images/premier-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	.container {
		padding-top: calc(230/1440*100vw);

		.data {
			width: calc(460/1440*100vw);
			display: flex;
			flex-direction: column;
			
			.block-header {
				margin-bottom: calc(50/1440*100vw);
				@include header();
				font-size: calc(80/1440*100vw);

				&:after {
					@include size(width, 430)
				}
			}

			.name {
				color: $darkTextColor;
				font-size: calc(40/1440*100vw);
				line-height: calc(40/1440*100vw);
				font-weight: 600;
				text-transform: uppercase;
			}

			.seasons {
				color: $lightTextColor;
				font-size: calc(24/1440*100vw);
				line-height: calc(35/1440*100vw);
				font-weight: 600;
				text-transform: uppercase;
				margin-bottom: calc(20/1440*100vw);
			}

			.description {
				color: $darkTextColor;
				font-size: calc(16/1440*100vw);
				font-weight: 400;
				margin-bottom: calc(54/1440*100vw);
			}

			.watch {
				height: calc(70/1440*100vw);
				padding: 0 calc(24/1440*100vw) 0 calc(20/1440*100vw);
				background-color: $mainRedTheme;
				display: flex;
				justify-content: space-between;
				align-items: center;

				span {
					color: $whiteColor;
					font-size: calc(24/1440*100vw);
					text-transform: uppercase;
				}
			}
		}
	}

	&-image {
		position: absolute;
		bottom: 0;
		right: 0;
		height: calc(780/1440*100vw);
	}
}