$mainRedTheme: #ED4E51;
$whiteColor: #FFFFFF;
$darkTextColor: #474747;
$lightTextColor: #C6C6C6;
$borderLightColor: #DBDBDB;
$searchStrokeBackground: #F9F9F9;
$grayTextCOlorSubtitle: #9E9E9E;
$footerColor: #161616;