@import './constants.scss';

@mixin mainRedIcon {
  filter: brightness(0) saturate(100%) invert(31%) sepia(96%) saturate(1065%) hue-rotate(326deg) brightness(106%) contrast(86%);
}

@mixin lightGrayIcon {
  filter: brightness(0) saturate(100%) invert(74%) sepia(6%) saturate(12%) hue-rotate(20deg) brightness(111%) contrast(82%);
}

@mixin darkGrayIcon {
  filter: brightness(0) saturate(100%) invert(26%) sepia(2%) saturate(9%) hue-rotate(326deg) brightness(93%) contrast(87%)
}

@mixin whiteColorIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(638%) hue-rotate(329deg) brightness(115%) contrast(100%);
}

@mixin borderLightIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6481%) hue-rotate(287deg) brightness(127%) contrast(72%);
}

@mixin yellowIcon {
  filter: brightness(0) saturate(100%) invert(70%) sepia(50%) saturate(1033%) hue-rotate(1deg) brightness(105%) contrast(104%);
}

@mixin size($rule, $size) {
  #{$rule}: calc(#{$size}/1440*100vw); 
}

@mixin header() {
  color: $mainRedTheme;
	font-size: calc(70/1440*100vw);
	font-weight: 900;
	line-height: calc(90/1440*100vw);
	text-transform: uppercase;
	position: relative;
	z-index: 0;
	width: max-content;
	@include size(max-width, 1120);

	&::after {
		content: '';
		display: block;
		height: calc(23/1440*100vw);
		width: calc(100% - 20px);
		background-color: $mainRedTheme;
		position: absolute;
		bottom: calc(-23/1440*100vw);
		left: calc(15/1440*100vw);
		transform: skewX(-45deg);
	}
}