@mixin mainRedIcon {
  filter: brightness(0) saturate(100%) invert(31%) sepia(96%) saturate(1065%) hue-rotate(326deg) brightness(106%) contrast(86%);
}

@mixin lightGreyIcon {
  filter: brightness(0) saturate(100%) invert(74%) sepia(6%) saturate(12%) hue-rotate(20deg) brightness(111%) contrast(82%);
}

@mixin darkGreyIcon {
  filter: brightness(0) saturate(100%) invert(26%) sepia(2%) saturate(9%) hue-rotate(326deg) brightness(93%) contrast(87%)
}

@mixin whiteColorIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(638%) hue-rotate(329deg) brightness(115%) contrast(100%);
}

@mixin borderLightIcon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6481%) hue-rotate(287deg) brightness(127%) contrast(72%);
}

@mixin size($rule, $size) {
  #{$rule}: calc(#{$size}/1440*100vw); 
}