@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

.title-page {
	@include size(padding-top, 60);

	.image {
		width: 100%;
		@include size(margin-bottom, 60);
	}

	.title-header {
		@include header;
		@include size(margin-bottom, 77);
	}

	.description {
		@include size(font-size, 24);
		@include size(line-height, 35);
		color: $darkTextColor;
		font-weight: 600;
		@include size(margin-bottom, 30);
	}

	.like-button {
		@include size(width, 455);
		@include size(height, 70);
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include size(font-size, 24);
		@include size(padding, 20);
		@include size(margin-bottom, 30);
		background-color: $mainRedTheme;
		color: white;

		&.loading {
			justify-content: center;

			.circular {
				&.red {
					@include mainRedIcon;
				}
				&.white {
					@include whiteColorIcon;
				}
			}
		}

		img {
			@include size(width, 32);
			@include size(height, 32);
			@include whiteColorIcon;
		}

		&.liked {
			color: $mainRedTheme;
			border: solid $mainRedTheme;
			background-color: $whiteColor;
			@include size(border-width, 2);
			img {
				@include mainRedIcon;
			}
		}
	}

	.title-block-header {
		margin-left: 0;
	}
}