@import '../../../../styles/constants.scss';
@import '../../../../styles/mixins.scss';

.links {
  height: 100%;
  display: flex;
  align-items: center;
  @include size(column-gap, 60);

  .link {
    text-decoration: none;
    color: $lightTextColor;
    @include size(line-height, 70);
		@include size(font-size, 16);

    &.active {
      border-bottom: calc(2/1440*100vw) solid;
    }
  }

  .search-button {
    background: none;
    border: none;
    height: min-content;
    width: min-content;
    cursor: pointer;
    @include size(width, 24);
    @include size(height, 24);
    img {
      width: inherit;
      height: inherit;
    }
  }

  .search-bar {
    display: flex;
    align-items: center;
		@include size(width, 390);

    .search-field {
		  @include size(height, 34);
      border: none;
      width: 100%;
      padding: 0 calc(20/1440*100vw);
      background-color: $searchStrokeBackground;
      @include size(font-size, 12);
    }

    .close-search {
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: min-content;
      height: min-content;

      img {
        @include size(width, 24);
        @include size(height, 24);
      }
    }
  }
} 