@import './styles/mixins.scss';

* {
	font-family: 'Jost';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

a {
	color: inherit;
}

body {
	width: 100vw;
	overflow-x: hidden;
	position: relative;
	min-height: 100vh;
	@include size(padding-bottom, 287);
}

.container {
	@include size(width, 1120);
	margin: 0 auto;
}

button {
	font-family: 'Jost';
	background: none;
	border: none;
	cursor: pointer;
}

ul, li {
	padding: 0;
	margin: 0;
}